* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Header styles */

header {
  background-color: #573765;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 35px 35px 35px;
}

.user-box {
 width: 15%;
 min-width: 170px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 align-self: flex-end;
}

.header-nav {
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 45px 0 0 0;
}

.header-icon {
  width: 50px;
  height: 50px;
}

.main-logo {
  width: 350px;
  align-self: flex-end;
}

/* header type */

h3 {
  font-size: 20px;
  color: #a89c9c;
  margin: 0 25px 0 5px;
}

.active {
  color: #d54221;
}

.user-name {
  font-size: 17px;
  color: #a89c9c;
}


/* Spell list card grid */
.spell-list {
  padding: 40px 35px 0 35px;
}

h1{
  font-size: 40px;
  color: #222222;
  margin: 0 0 35px 0;
}


.spell-card {
  width:25%;

}

.card-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.spell-pic {
  width: 100%;
  height: 180px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  object-fit: cover;
  filter: brightness(75%);
}

.pentagram {
  background-color: #57376599;
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 40%;
  min-width: 65px;
  margin: 12px 0 0 18px;
  filter: brightness(100%);
}

.views-display {
  color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;
  margin: 14px 18px 0 0px;
  filter: brightness(100%);
}

.count {
  font-size: 38px;
}

/* Spell card text */


/*  black #222222
    red #d54221
    light purle #8f4c82
    grey #a89c9c
    dark purple #573765  */
